body {
    background-color: rgba(234, 168, 168, 0.434);
    text-align: center;
}

form {
    display: inline-block;
    position: relative;
}

fieldset {
    border-color: rgba(187, 72, 72, 0.477);
    margin-top: 50px;
    padding: 20px;
}

input {
  display: block;
  margin: 10px;
  padding: 7px;
}

#topic_info{
    height: 80px;
}


button {
    background-color: #cfe7d9;
    color: rgba(187, 72, 72, 0.688);
    padding: 7px;
    margin-bottom: 10px;
}

input, button {
    width: 350px;
    font-size: 12pt;
    border: solid 2px #acb6a9;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button:hover {
    background-color: rgba(187, 72, 72, 0.688);
    color: white;
}

input:hover {
   border-color: rgba(187, 72, 72, 0.688);
}

